.jumbroton{
    /* background-color: #000000; */
    background: linear-gradient(100deg, #0f0f0f,#262A56);
    padding-top: 5rem;
    margin-bottom: 0;
    color: white;
}
#projects{
    background-color: #262A56;
    color: white;
}
#teknologi{
    background-color: white;
}
.div_teknologi{
    /* background-color: #0f0f0f; */
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.8rem;
    border-radius: 16px;
    border: 1px solid #262A56;
}
section{
    padding-top: 5rem;
}

#img-about{
    width: 300px;
    height: auto;
}
/*h1 { Cara Gradasi Teks dengan CSS 
    /*background: -webkit-linear-gradient(45deg, #8710e986, #f07328);
    /*-webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;
}*/
.navbar{ /* Cara gradasi background dengan css */
    background: linear-gradient(50deg, #0f0f0f, #262A56);
}

.button{
    width: 10rem;
    padding: 5px;
    height: auto;
    border: none;
    background-color: #262A56;
    /* background: linear-gradient(50deg, #0f0f0f, #262A56); */
    color: white;
    border-radius: 8px;
    
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e2edff;
}
#ucapan{
    color: white;
    width: 300px;
    background-color: #1D1CE5;
    border-radius: 8px;
}
.image_teknologi{
    filter: grayscale(1);
}
.image_teknologi:hover{
    filter: grayscale(0);
}

@media (width > 1280px){
    #img-about{
        width: 400px;
    }
}
@media (width < 600px){
    #div-about{
    flex-wrap: wrap;
    }
}